body{
    background-color: gray;
}

.container {
    text-align: center;
    padding: 20px;
}

img {
    width: 300x;
    height: 300px;
}

h1,h3,p{
    margin-top: 1px;
    margin-bottom: 1px
}



